body {
  background-color: rgb(112, 4, 91);
  font-family: Arial, Helvetica, sans-serif;
}

.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.calculator-button {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.clear-button {
  font-size: 17px;
}

.gray-button {
  background-color: rgb(210, 8, 197);
  color: white;
}

.orange-button {
  background-color: rgb(15, 154, 82);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}